{{- /*
Renders a menu for the given menu ID with a theme switcher.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul>
      {{- range . }}
      <li>
        {{- $isActive := or ($page.IsMenuCurrent $menuID .) ($page.HasMenuCurrent $menuID .) (and (eq .Name "Home") (eq $page.RelPermalink "/")) }}
        <a href="{{ .URL }}" {{ if $isActive }}class="active"{{ end }}>
          {{ .Name }}
        </a>
      </li>
      {{- end }}
      <label class="toggle" role="switch" aria-label="Toggle dark mode">
        <input type="checkbox" />
        <svg class="sun-icon" viewBox="0 0 24 24" width="24" height="24" aria-hidden="true">
          <circle cx="12" cy="12" r="4.5" />

          <line x1="12" y1="4" x2="12" y2="2" />
          <line x1="12" y1="22" x2="12" y2="20" />
          <line x1="4" y1="12" x2="2" y2="12" />
          <line x1="22" y1="12" x2="20" y2="12" />

          <line x1="18.4" y1="18.4" x2="19.8" y2="19.8" />
          <line x1="18.4" y1="5.6" x2="19.8" y2="4.2" />
          <line x1="5.6" y1="18.4" x2="4.2" y2="19.8" />
          <line x1="5.6" y1="5.6" x2="4.2" y2="4.2" />
        </svg>
        <svg class="moon-icon" viewBox="0 0 24 24" width="24" height="24" aria-hidden="true">
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" />
        </svg>
      </label>
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
